@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: var(--font-color);
}

:root {
    --primary-color: #f5f6f1;
    --accent-color: #efefef;
    --font-color: #333;
}

body {
    color: var(--primary-color);
}

/*DASHBOARD */

nav {
    position: relative;
    background: var(--accent-color);
    width: 100%;
    height: 120px;
    z-index: 2;
}

.links {
    position: absolute;
    right: 0;
    top: 50%;
    margin-right: 50px;
    transform: translateY(-50%);
}

a {
    outline: none;
    color: var(--font-color) !important;
    font-size: 18px;
    font-weight: bolder;
}

.dropdown-item {
    font-size: 16px;
}

.nav>li {
    border-bottom: 2px solid var(--accent-color);
    transition: all 0.25s ease-in-out !important;

}

.nav>li:hover {
    padding-right: 15px;
    border-bottom: 2px solid var(--font-color);
    transition: all 0.25s ease-in-out !important;
}

a:active {
    background: var(--accent-color) !important;
}

.logo {
    position: absolute;
    left: 0;
    top: 50%;
    margin-left: 50px;
    transform: translateY(-50%);
}

#logo {
    width: 300px;
}

.logo-title {
    position: relative;
    font-size: 55px;
    font-weight: bolder;
    color: var(--font-color);
    top: 15px;
    font-family: 'Source Sans Pro', sans-serif;
}

/*HOMEPAGE */

.container {
    padding: 15px;
    padding-top: 10px;
    text-align: center;
    margin-top: 10px;
    width: 60%;
    height: 80vh;
}

#cont {
    padding-top: 35px;
    margin-top: 20px;
}

h5 {
    font-size: 22px;
    padding-bottom: 10px;
    margin: 0px 130px;
    font-weight: bolder;
    border-bottom: 2px solid var(--font-color);
}

.grid-s {
    font-size: 18px;
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: space-evenly;
}

.grid-s p {
    font-size: 20px;
}

p>span {
    margin-left: 5px;
    font-size: 22px;
    font-weight: 900;
}

#bg-logo {
    position: absolute;
    z-index: -1;
    left: 100px;
    bottom: 10px;
    opacity: 0.15;
    width: 40%;
}

#cgpa {
    margin-top: 0px !important;
    padding: 0 !important;
    font-size: 24px;
}

#cgpa>span {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 38px;
}

/*CALC GPA */

.contents {
    margin: 15px auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 70%;
}


select {
    font-size: 18px !important;
    border: 2px solid #c7c7c7;
    outline: none;
    border-radius: 10px !important;
    padding: 5px 10px !important;
    margin-right: 5px !important;
}

button {
    position: relative;
    padding: 5px 20px;
    border-radius: 30px;
    font-size: 18px;
    outline: none;
    color: #333;
    border: 2px solid #c7c7c7;
    background: none;
    transition: all 0.25s ease-in-out;

}

button:hover {
    padding: 5px 23px;
    font-weight: 500;
    background: #333;
    outline: none;
    border: 2px solid #333;
    color: var(--primary-color);
    transition: all 0.25s ease-in-out;

}

table {
    text-align: center;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 15px !important;
    border: 1px solid #000 !important;
    outline: none !important;
}

tbody {
    border-radius: 15px !important;
}

th {
    border-bottom: 1px solid #333 !important;
}

tr {
    padding: 0 !important;
    margin: 0 !important;
    border: none;
}

td {
    padding: 5px !important;
}

#left {
    padding-left: 30px !important;
    padding-right: 20px !important;

    text-align: left;

}

#title {
    margin: 10px auto;
    font-size: 22px;
    font-weight: bolder;
}

td>select {
    margin: 0 auto !important;
    padding: 0 !important;
    padding-left: 10px !important;
    width: 65px !important;
    font-size: 16px !important;
}

#bolder {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: bolder !important;
}

.bolder {
    font-size: 22px;
}

#calc-button {
    margin: 0 !important;
    padding: 0 !important;
}

#bold {
    font-family: 'PT Sans', sans-serif;
    font-weight: bolder !important;
    font-size: 48px;
}

#bold>span {
    font-family: 'PT Sans', sans-serif;
    font-size: 48px;
    font-weight: bold;
    text-transform: uppercase;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*TARGET GPA CALC */

h2 {
    text-align: left;
    font-size: 32px;
    font-weight: bolder;
    padding-bottom: 10px;
    border-bottom: 2px solid #aaa;
}

.form-floating {
    font-weight: bold !important;
}

input {
    box-shadow: 5px 5px 5px -2px rgba(0, 0, 0, 0.39);
    -webkit-box-shadow: 5px 5px 5px -2px rgba(0, 0, 0, 0.39);
    -moz-box-shadow: 5px 5px 5px -2px rgba(0, 0, 0, 0.39);
    font-weight: bold !important;
}

.table-contents {
    justify-content: center;
    align-items: center;
}

.table-contents .form-floating {
    margin: 0 auto;
    width: 50% !important;
}

#select {
    box-shadow: 5px 5px 5px -2px rgba(0, 0, 0, 0.39);
    -webkit-box-shadow: 5px 5px 5px -2px rgba(0, 0, 0, 0.39);
    -moz-box-shadow: 5px 5px 5px -2px rgba(0, 0, 0, 0.39);
    padding-left: 12px !important;
    font-size: 16px !important;
    color: #333 !important;
    font-weight: bold !important;
}

#calc {
    margin: 15px 0px;
    margin-bottom: 30px;
    font-weight: bold;
}

#target-gpa-title {
    font-size: 20px;
}


::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {

    background: #555;
}

i {
    font-weight: bolder !important;
}

@media only screen and (max-width: 600px) {

    /*DASHBOARD */
    body {
        width: 100vw;
    }

    nav {
        position: relative;
        background: var(--accent-color);
        width: 100%;
        height: 120px;
        z-index: 2;
        top: 80px;
        margin-right: 0 !important;
        padding: 0 !important;

    }

    .links {
        position: relative;
        right: 0;
        width: 90%;
        left: 15px;
        transform: translateY(-50%);
    }

    #bg {
        position: absolute;
        z-index: 2;
        top: -100px;
        width: 100vw;
        height: 100px;
        background: var(--accent-color);
    }

    .logo {
        position: absolute;
        margin-top: 10px;
        top: -60px;
        left: 50%;
        z-index: 5;
        margin: 0px !important;
        transform: translateX(-50%);
        background: var(--accent-color);
    }

    #logo {
        width: 200px;
    }

    #bg-logo {
        position: fixed;
        top: 400px;
        left: -5px;
        z-index: -2;
        opacity: 0.15;
        width: 100%;
    }

    #bold {
        font-size: 32px;
    }

    .responsive {
        width: 500px;
    }

    #bold>span {
        font-size: 32px;
    }

    .bolder {
        width: 100%;
        font-size: 18px;
        text-align: center;
    }

    .center {
        width: 95%;
    }

    /*CALC GPA */

    .contents {
        margin: 15px auto;
        margin-top: 90px;
        display: flex;
        align-items: center;
        width: 150px;
        margin-left: 115px;
        transform: scale(0.8);
        justify-content: space-evenly;
    }

    select {
        font-size: 18px !important;
        border: 2px solid #c7c7c7;
        outline: none;
        border-radius: 10px !important;
        padding: 5px 10px !important;
        margin-right: 5px !important;
    }

    button {
        position: absolute;
        top: 50px;
    }

    .table-contents {
        margin: 0 !important;
        margin-top: 40px !important;
    }

    .container {
        margin: 0 !important;
        padding: 0 !important;
    }

    #title {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        width: 90%;
        padding: 0 !important;
        margin: 0 !important;
        font-size: 18px;
        margin-right: 0px;
    }

    table {
        margin-top: -50px;
        margin-left: -34px;
        transform: scale(0.8);
        margin-bottom: 10px;
    }

    table+button {
        position: relative;
        top: -50px !important;
    }

    .tgpa-width {
        position: absolute;
        left: 30%;
        top: 350px;
        width: 100vw;
        transform: translateX(-50%);
        padding: 0 !important;
    }

    #t-id {
        margin-top: 100px;
        margin-left: 15px;
        padding: 0 !important;
        font-size: 22px;
    }

    #calc {
        position: absolute;
        left: 70%;
        margin-top: 180px;
        transform: translateX(-50%);
    }

    .form-floating>input {
        width: 300px;
    }

    .form-select {
        width: 300px;
    }

    .gpa-content {
        margin-top: 30px;
        transform: scale(0.8);
    }

    #cgpa {
        margin: 0px 5px !important;
        padding: 0 !important;
        font-size: 18px;
        position: relative;
        top: -40px !important;
    }

    #cgpa>span {
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bolder;
        font-size: 22px;
    }
}