{% extends '_base.html' %}
{% block head %}
<title> Register | JNTUH GPA Calc </title>
<link rel="stylesheet" href="{{ url_for('static',filename='login.css')}}">
<link rel="stylesheet" href="{{ url_for('static',filename='register.css')}}">
{% endblock %}

{% block body %}

<div class="containter">

    <a href="/">
        <div class="logo">
            <img src="{{url_for('static',filename='Images/Logo-withText.png')}}" alt="Logo">
        </div>
    </a>

    <div class="login-box">
        <p class="link-{{indicator}}" id="alert">{{alert}}</p>
        <div data-aos="zoom-in" data-aos-duration="750">
            <p id="main-title">Sign up with your email</p>
            <h6>Already have an Account ? <a href="/login"> Login </a> </h6>
            <form action="/registerdata" method="POST">
                <div class="form-floating mt-2">
                    <input autofocus type="text" class="form-control" id="floatingInput" name="name" required
                        placeholder="name@example.com">
                    <label for="floatingInput">Full Name</label>
                </div>
                <div class="form-floating mt-2">
                    <input type="email" class="form-control" id="floatingPassword" name="email" required
                        placeholder="Email">
                    <label for="floatingPassword">Email Address</label>
                </div>
                <div class="form-floating mt-2">
                    <input type="password" class="form-control" id="floatingPassword" name="password" required
                        placeholder="Password" minlength="8" maxlength="8">
                    <label for="floatingPassword">Password</label>
                </div>
                <div class="form-floating mt-2">
                    <input type="text" class="form-control" id="floatingPassword" name="rollno" required
                        placeholder="Roll No" minlength="10" maxlength="10">
                    <label for="floatingPassword">JNTUH Roll Number</label>
                </div>
                <div class="form-check form-switch mt-3">
                    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault" required>
                    <label class="form-check-label" for="flexSwitchCheckDefault">I accept the <a
                            href="/termsandconditions"> Terms &
                            Conditions</a></label>
                </div>
                <div class="d-grid gap-2 col-12">
                    <button class="btn btn-primary mt-3 mb-3 p-3" type="submit">Register</button>
                </div>
            </form>
        </div>
    </div>
</div>
<section>
    <img src="{{url_for('static',filename='Images/Logo-Shadow.png')}}" alt="Logo" id="bg-logo">
</section>

{% endblock %}